<!DOCTYPE html>
<html lang="en" dir="ltr">



<head>
    <meta charset="utf-8">
    <title>Explore</title>

</head>

<body>
    <!-- <h1>Made for everybody</h1> -->

    <img class="sumatran" src="linux_for_everyone.png" alt="sumatran">
    <p id="about"><b>
            <h1>Made for everybody</h1>
        </b></p>

    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br>
    <h1>Indian rhino</h1>
    <br>
    <br>
    <img class="indian" src="secure.webp" alt="">
    <p><b>The Indian rhinoceros (Rhinoceros unicornis), also called the Indian rhino, greater one-horned rhinoceros or
        </b> </p>

    <br><br><br><br><br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br>
    <h1>WHITE RHINO</h1>
    <br>
    <br>
    <img class="sumatran" src="custom.png" alt="">
    <p><b>The </b></p>
    <br><br><br><br><br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br>

    <h1>sumatran rhino</h1>
    <br>
    <br>
    <br>
    <img class="indian" src="lightwt.webp" alt="sumatran">
    <p id="about"><b>The Sumatran rhinoceros, also known as the hairy rhinoceros or Asian two-horned rhinoceros
            (Dicerorhinus
            sumatrensis), is a rare member of the family Rhinocerotidae and one of five extant species of rhinoceros. It
        </b></p>

    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br>
    <h1>Indian rhino</h1>
    <br>
    <br>
    <img class="sumatran" src="persona.jpg" alt="">
    <p><b>The Indian rhinoceros (Rhinoceros unicornis), also called the Indian rhino, greater one-horned rhinoceros or
        </b> </p>

    <br><br><br><br><br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br>
    <h1>WHITE RHINO</h1>
    <br>
    <br>
    <img class="indian" src="update.jpg" alt="">
    <p><b>The </b></p>
    <br><br><br><br><br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br>



    <br>
    <br>


    <style>
        body {
            color: #40514E;
            margin: 0;
            text-align: center;
            font-family: 'Merriweather', serif;
        }

        .sumatran {
            width: 25%;
            float: left;
            margin-right: 30px;
            padding-left: 50px;
        }

        .indian {
            width: 25%;
            float: right;
            margin-left: 30px;
            padding-right: 50px;
        }
    </style>
</body>

</html>