<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewname" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SKYDANCE</title>
	<link rel="icon" href="/static/assets/images/logo.jpeg">

	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Fruktur&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<nav>
		<!-- <div class="logo"> -->
		<p class="name"> SkyDance </p>
		<!-- </div> -->
		<ul class="nav-links">
			<li>
				<div class="dropdown">
					<button class="dropbtn">Features &#187;
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="/templates/explore.html">
							Made for everybody</a>
						<a href="/templates/explore.html">Your data is not ours</a>
						<a href="/templates/explore.html">Customization</a>
						<a href="/templates/explore.html">Lightweight System</a>
						<a href="/templates/explore.html">Personalization</a>
						<a href="/templates/explore.html">Updation</a>
					</div>
				</div>
			</li>
			<a href="G:\php\nav\feedback.html">
				<li class="hi">Download
				</li>
			</a>
			<li>
				<div class="dropdown">
					<button class="dropbtn">Info &#187;
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="/templates/about.html">About us</a>
						<a href="/templates/contact.html">contact us</a>
						<a href="https://github.com/Sanjay-YS">github</a>
					</div>
				</div>
			</li>
			<a href="/templates/help.html">
				<li class="ho">Help

				</li>
			</a>
		</ul>

		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>

		</div>
	</nav>
	<br>
	<br>
	<br>
	<p class="par"> OPEN SOURCE OPERATING SYSTEM </p>
	<br> <br>
	<img class="para" src="/static/assets/images/logo2.gif" width="180" height="150">
	<p class="para1"> &nbsp &nbsp &nbsp &nbsp &nbsp; <br> Lightweigthed OS and <br> this can be installed on
		Desktops/Laptops/Tablets </p>
	<br>
	<br>

	<div class="row">
		<div class="column">

			<a href="feedback.html"><button class="btn">
					<marquee class="tra" direction="top">
						<p class="tag">Download
						</p>
					</marquee>
				</button> </a>

		</div>
		<div class="column">

			<a href="/static/explore.html"><button class="btn">
					<marquee>
						<p class="tag"> Explore &#187;</p>
					</marquee>
				</button> </a>
		</div>

	</div>




	<br><br><br>





	<center class="fot">

		<a href="https://www.linkedin.com/in/sanjay-y-s-a95549186/" title="" class="fa-icon">
			<button class="btn22">

				<i class="fa fa-linkedin fa-2x"></i>
		</a>
		</button>


		&nbsp &nbsp &nbsp;
		<a href="https://twitter.com/sanjay_ys/">
			<button class="btn22">

				<i class="fa fa-twitter fa-2x"></i>
		</a>
		</button>



		&nbsp &nbsp &nbsp;

		<a href="https://github.com/Sanjay-YS" src="" alt="">
			<button class="btn22">

				<i class="fa fa-github fa-2x"></i>
		</a>
		</button>


		<style>
			.btn22 {
				border-radius: 50%;
				width: 3rem;
				height: 3rem;


			}

			.fot {
				padding-right: 1015px;

			}

			a:visited {
				text-decoration: none;
				color: black;

			}

			.fr {
				padding-top: 5rem;
				color: white;
			}
		</style>
	</center>
	<br>
	<center>
		<footer class="fr">
			<h3>SkyDance <br> &#169; 2022 -2023</h3>


		</footer>
	</center>
	<script src="script.js"></script>
</body>

</html>
